<h1>This is Gif Generator!!</h1>


<%= link_to "Create New User", new_user_path, class: 'btn btn-primary' %></br>
  </br>
<%= link_to "Already a user? Click Here", login_path, class: 'btn btn-primary'%>
